/* *** Page Styles *** */
:root {
  --header-height: 75px;
  --main: #2d2a2e;
  --yellow: #ffd866;
  --black: #111111;
  --white: #fcfcfa;
  --sans-serif: "Open Sans",sans-serif;
  --monospace: "Hack",monospace;
}